doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title /*ZenStock*/
    link(rel="icon", href="/images/favicon-32x32.png", type="image/x-icon")
    link(rel="shortcut icon", href="/images/favicon-32x32.png", type="image/x-icon")
    link(rel="stylesheet", href="/css/style.css")

  body.body-container
    header
      nav
        ul#nav-bar
          li: a#logo2(href="/users/main") */ZenStock/*
          li: a#home(href="/users/main") Home
          li: a#intro(href="/users/intro") intro
          li: a#userinfo(href="/users/userinfo") 회원정보
          li: a#dashboard(href="/users/dashboard") 대시보드
          if user.username.length > 10
            li: a#username(href="#" class="sparkle") User님 반갑습니다.
          else 
            li: a#username(href="#" class="sparkle") #{user.username}님 반갑습니다.
          li: a#logoutBtn(href="/users/logout") LogOut
          

    main
      .stocks-container
      // 통계 요약 섹션
      #summaryStats.summary-stats
        // 여기에 통계가 동적으로 추가됨

      // 주식 테이블
      .stocks-table-container
        table.stocks-table
          thead
            tr
              th 종목
              th 현재가
              th 변동
              th 변동률
              th 거래량
              th 시가총액
          tbody#stocksBody
            // 여기에 주식 데이터가 동적으로 추가됨

    script(src='/js/dashboard.js')

    footer.zenstock-footer zenstock
      .footer-links
        a(href="#") Meta
        span ·
        a(href="#") About
        span ·
        a(href="#") Blog
        span ·
        a(href="#") Jobs
        span ·
        a(href="#") Help
        span ·
        a(href="#") API
        span ·
        a(href="#") Privacy
        span ·
        a(href="#") Terms
        span ·
        a(href="#") Locations
      .footer-copyright
        span © 2024 ZenStock from elice