doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")


        title /*ZenStock*/
        link(rel="icon", href="/images/favicon-32x32.png", type="image/x-icon")
        link(rel="shortcut icon", href="/images/favicon-32x32.png", type="image/x-icon")
    body#loginbody
        a#logoa(href="/users/main")
            h1#logo */ZenStock/*
            h1#joinheader  
            
        form#join-form(action="/", method="post")
            div
                label(for="text") 기술스택
                    hr
                    label(for="text") -pug
                    hr
                    label(for="text") -css
                    hr
                    label(for="text") -javascript
                    hr
                    label(for="text") -typescript
                    hr
                    label(for="text") -node.js
                    hr
                    label(for="text") -express
    footer.zenstock-footer zenstock
      .footer-links
        a(href="#") Meta
        span ·
        a(href="#") About
        span ·
        a(href="#") Blog
        span ·
        a(href="#") Jobs
        span ·
        a(href="#") Help
        span ·
        a(href="#") API
        span ·
        a(href="#") Privacy
        span ·
        a(href="#") Terms
        span ·
        a(href="#") Locations
      .footer-copyright
        span © 2024 ZenStock from elice
