//login.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")


        title /*ZenStock*/
        link(rel="icon", href="/images/favicon-32x32.png", type="image/x-icon")
        link(rel="shortcut icon", href="/images/favicon-32x32.png", type="image/x-icon")
    body#loginbody

        h1#logo */ZenStock/*
            h1#loginheader  
            
            
            
            form#login-form(action="/api/v1/users/login",method="post")
                if successMessage
                if errorMessage
                    .error-message(style="color: white; text-align: center; margin-bottom: 10px; font-weight: bold;")
                        = errorMessage
                label(for="email" style="font-weight: bold;") Email 
                input(type="text", name="email", placeholder="Enter your email")
                hr
                label(for="password" style="font-weight: bold;") Password 
                input(type="password", name="password", placeholder="Enter your password")
                hr
                button(type="submit" style="font-weight: bold;") 로그인
                div 
                a(href="/users/signup")
                    button(type="button" style="font-weight: bold;") 회원가입 

        div#socialLoginBtn
            a#google(href="/api/v1/users/login/google")
                button#googlebtn(type="submit") 구글로 로그인
            a#kakao(href="/api/v1/users/login/kakao")
                button#kakaobtn(type="submit") 카카오로 로그인
            a(href="/api/v1/users/login/naver")
                button#socialBtn(type="submit") 네이버로 로그인